.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    margin-top: 0px;
    background: linear-gradient(45deg,#bbbbbb , #aaaaaa, #969595, #414141 ,#202020 , #212121);
    background-size: 300% 300%;
    animation: gradientAnimation 15s  ease infinite ;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .card-content {
    text-align: center;
  }
  